// Home Page SCSS

#home-page {

	h1 {
		color: $skyrocket_red;	
	}

}// #home-page

.clear{
	display: box;
	clear: left;
	margin: auto;
}
    
    @mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
header{
	}

#home-page h1 {
	font-size: 1.3em;
	font: $font-stack;
	}

div.img {
    margin: auto;
    padding: 10px;
    border: 1px solid $primary_color;
    border-radius: $radius;
    float: left;
    width: 216 / 960 * 100%;

    img {
	    width: 100%;
	    height: auto;
    }

.img { @include border-radius($radius); }
}

div.desc {
    padding: 1em;
    text-align: center;
    color: $primary_color;
}

div.col2{
    margin: 15px;
    float: left;
    width: 432 /960 * 100%;
}

.nav_footer{
	@extend .clear;
    width: 316 / 960 * 100%;
    padding: 10px;

    nav {
		display:block;
		font-size: .75em;

    	li {
    		float: left;
    		display:block;
			list-style-type: none;
			font-size: 1.3em;
			padding: 10px;
		    border-right: solid 1px rgba(0,0,0, 0.7);
		    border-left: solid 1px rgba(250,250,250, 0.1);
    	}	

    	a{
    		text-decoration: none;
    	}

		a:hover {
			color: $main_color;
		    text-decoration: none;
		}
	}

}
